@charset "utf-8";
/* CSS Document */
body{
	margin:0px auto;
	text-align:left;
	background:#abdebf;
}
#main_content{
	margin:0px auto;
	text-align:left;
	width:844px;
	min-height:600px;
	position:relative;
	background:url(../images/main_bg.png) no-repeat;
}
#header{
	width:622px;
	height:75px;
	float:left;
	margin-left:120px;
}
.logo{
	width:210px;
	height:58px;
	margin-top:17px;
	margin-left:5px;
}
#art_content{
	width:622px;
	height:370px;
	float:left;
	margin-left:120px;
	background:#FFF;
	font-size:14px;
}
#art_content_sign{
	width:622px;
	height:720px;
	float:left;
	margin-left:120px;
	background:#FFF;
}
.log_in{
	width:275px;
	height:350px;
	float:left;
}
.log{
	font-size:18px;
	font-family:HelveticaNeue-Light;
}
.rem{
	font-size:12px;
	
}
#do_not{
	width:240px;
	height:130px;
	margin-top:55px;
	float:right;
	background:#f7f7f7;
}
#why{
	width:195px;
	height:212px;
	margin-top:55px;
	float:right;
	background:#f7f7f7;
}
.do_not_text{
	width:218px;
	height:120px;
	margin-top:10px;
	margin-left:22px;
	float:left;
	font-size:14px;
}
.why_text{
	width:185px;
	height:200px;
	margin-top:10px;
	margin-left:12px;
	float:left;
	font-size:14px;
}
.why_love{
	width:185px;
	height:40px;
	margin-top:10px;
	margin-left:12px;
	float:left;
	font-size:20px;
}
.why_love_ul{
	width:190px;
	height:155px;
	margin-top:5px;
	float:left;
	font-size:12px;
}
.do_not_text_col{
	color:#b07a55;
}
#menu{
	width:622px;
	height:35px;
	margin-left:120px;
	margin-top:10px;
	float:left;
	background:#0C3;
}
#add{
	width:622px;
	height:84px;
	margin-left:120px;
	margin-top:10px;
	float:left;
}
.ver{
	width:131px;
	height:84px;
	margin-left:70px;
	float:left;
}
.trust{
	width:178px;
	height:58px;
	margin-left:20px;
	margin-top:13px;
	float:left;
}
.mcafee{
	width:132px;
	height:48px;
	margin-left:20px;
	margin-top:18px;
	float:left;
}
#footer{
	width:622px;
	height:40px;
	float:left;
	text-align:center;
	margin-left:120px;
	font-size:12px;
}
.footer_text{
	color:#789b86;
}
#sign_up{
	width:145px;
	height:20px;
	float:left;
	vertical-align:bottom;
	position:absolute;
	top:50px;
	left:400px;
}
.login{
	width:58px;
	height:20px;
	float:left;
	text-align:center;
	vertical-align:bottom;
	font-size:16px;
	
}
.sign_up{
	width:60px;
	height:20px;
	float:left;
	margin-left:8px;
	font-size:16px;
}
.form{
	width:418px;
	height:582px;
	float:left;
	text-align:right;
	font-size: 12px;
}
.form td input{
	width:160px;
}
.form #country select{
	width:240px;
}
.create{
	font-size:18px;
}
#forgot_password_content{
	width:622px;
	height:250px;
	float:left;
	margin-left:120px;
	padding-top:20px;
	padding-left:20px;
	background:#FFF;
	font-size:14px;
}