body {
  background-color: #c8e2d1;
  font-family: monospace, sans-serif;
  font:13px/1.231 sans-serif;
	 *font-size:small;
}

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }

a img {
  border: none;
}

a {
  color: #1f9455;
	text-decoration:none;
}

a:hover{
	text-decoration: underline;
}

h1 {
	color:#158147;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#logo{
	background:url(/images/money_momma1.jpg) no-repeat;
	width:596px;
	height:165px;
  margin-left:80px;
	float:left;
}

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #e5f5ea;
  padding: 20px 40px;
  border: solid 1px #1f9455;
  margin-top: 180px;
}

#menu{
	float:right;
	font-size:16px;;
}

#menu a{
	color:#525252;
}

#login{
	float:right;
	margin:30px 0px 0px 0px;
}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.basictab{
margin-top:-43px;
padding: 3px 0;
font: bold 12px Verdana;
border-bottom: 1px solid #1f9455;
list-style-type: none;
text-align: right; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
display: inline;
margin: 0;
}

.basictab li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #1f9455;
border-bottom: none;
background-color: #f6ffd5;
color: #2d2b2b;
}

.basictab li a:visited{
color: #2d2b2b;
}

.basictab li a:hover{
background-color: #DBFF6C;
color: black;
}

.basictab li a:active{
color: black;
}

.basictab li.selected a{ /*selected tab effect*/
position: relative;
top: 1px;
padding-top: 4px;
background-color: #E5F5EA;
color: black;
}

table th{
	text-align:left;
}

#posted_on{
	color:#aaa;
	margin-top:-15px;
	font-size:11px;
}

#comment a{
	color:#999999;
}