- layout = false
- if params[:det01] 
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/det01?teaser", :width => "340"}
- elsif params[:det02]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/det02?teaser", :width => "340"}
- elsif params[:det03]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/det03?teaser", :width => "340"}
- elsif params[:det05]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/det05?teaser", :width => "340"}
- elsif params[:det08]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/det08?teaser", :width => "340"}
- elsif params[:det09]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/det09?teaser", :width => "340"}
- elsif params[:det10]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/det10?teaser", :width => "340"}
- elsif params[:hom03]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/hom03?teaser", :width => "340"}
- elsif params[:hom07]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/hom07?teaser", :width => "340"}
- elsif params[:hom09]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/hom09?teaser", :width => "340"}
- elsif params[:hom13]
    %iframe{:frameborder => "1", :height => "400", :src => "http://www.calcxml.com/do/hom13?teaser", :width => "340"}